# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Dados grandes
data/raw/*.csv
data/processed/*.csv

# Modelos salvos
models/*.pkl
models/*.pt
models/*.joblib

# MLflow
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
